<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Boom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="home">
      <img src="http://theboom.com/v/images/theBoomLogoScreen.png" width="160" height="50" alt="">
    </a>

    <large class="consumer.handlebars">Consumer</large>
    <large class="professional.handlebars">Professional</large>
    <large href="">About Us</large>

    <button class="btn-success" type="button" name="button">
      <span>Buy Now</span>
    </button>

  </nav>
    {{{body}}}
  <nav class="container mt-2 mb-5">
    <a style="color: black" href="/"><span><small>Home</small></span></a>
    <a style="color: black" href="consumers"><span><small>Consumer</small></span></a>
    <a style="color: black" href="professional"><span><small>Professional</small></span></a>
    <a style="color: black" href="#"><span><small>About</small></span></a>
  </nav>
  <div class="container">

  </div>
  <div class="container mb-3">
    <small>Telephone support is available: Monday - Friday 9 AM - 4 PM (PST) 1-888-230-3300</small>
  </div>
  <div class="container">
    <small>
      UmeVoice is not responsible for the availability, content, security, policies, or practices of any referenced third-party linked sites, nor liable for statements, claims, opinions, or representations contained therein. UmeVoices‘s Privacy Statement does not apply to these third-party web sites.
    </small>
    <div class="m-2"></div>
    <small>
      Build by <a href="www.dominican.edu">Dominican University of California Student</a>
    </small>
  </div>
  <div class="">

  </div>
</body>
</html>
