<div class="container m-3">
  <h2>The Best Headsets for iPhone, Android, Blackberry, mobile phones and Driving</h2>
  <p>The theBoom headsets can be used for anything you'd like to do. Driving, mobile phones, or just having fun.
  <p>With theBoom you will:</p>
  <p>- Dive safely hands free and be in compliance with the law.</p>
  <p>- Eliminate road and wind noise</p>
  <p>- Experience the best cell phone clarity - hear and be heard clearly</p>
  <div class="m-6">
  <img src="https://www.theboom.com/v/images/comparisonChartCTA.jpg" alt="" href="https://www.theboom.com/v/charts/consumer-headsets.asp">
  </div>
</div>
<div class="container mb-5">
  <div class="card-deck">
    <div class="card">
      <img src="https://www.theboom.com/v/images/products/thumbnails/theBoombug.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">theBoom Bug</h5>
        <button class="btn-success" type="button" name="button">
          <span>Buy Now</span>
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">$75</small>
      </div>
    </div>
    <div class="card">
      <img src="https://www.theboom.com/v/images/products/thumbnails/theBoomE-thumb.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">theBoom E</h5>
        <button class="btn-success" type="button" name="button">
          <span>Buy Now</span>
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">$300</small>
      </div>
    </div>
    <div class="card">
      <img src="https://www.theboom.com/v/images/products/galleries/theboom-w-full-view.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">theBoom W</h5>
        <button class="btn-success" type="button" name="button">
          <span>Buy Now</span>
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">$160</small>
      </div>
    </div>
  </div>
</div>
