<div class="jumbotron jumbotron-fluid">
  <div class="">
    <h1 class="pb-3">The World's Best Noise Canceling Headsets</h1>
  </div>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="http://theboom.dev.fledglingdesign.com/video/theBoom-V4-in-a-Convertible.mp4"></iframe>
  </div>
<div class="p-4 bg-white">
  <nav class="navbar container">
    <a style="color: black" href="consumers"><h4>Consumer</h4></a>
    <a style="color: black" href="professional"><h4>Professional</h4></a>
  </nav>
</div>
<div class="container col-md-5 bg-white">
    <a class="" href="https://www.theboom.com/v/products/index.asp"><img src="https://www.theboom.com/v/images/theBoomWorksWithAllDevices.jpg"></a>
</div>

<div class="container m-4">
  <h2>A Few of Our Partner Companies</h2>
</div>

<div class="card-deck">
  <div class="card">
    <img src="https://www.theboom.com/v/images/clients/globalstar.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="https://www.theboom.com/v/images/clients/goldman-sachs.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="card">
    <img src="https://www.theboom.com/v/images/clients/keller-williams-realty.jpg" class="card-img-top" alt="...">
  </div>
</div>
