<div class="container m-3">
  <h2>theBoom The Right Tool for Your Job</h2>
  <p>Wether it's Call Centers, Speech Recognition, Wall Street and more there's a theBoom model for just about any profession.</p>
  <p>- The theBoom headsets can be used for anything you'd like to do. Driving, mobile phones, or just having fun.
  <p>- With theBoom you will:</p>
  <p>- Use your iPhone on the go, in your car with no noisy distractions, even in a convertible!</p>
  <p>- Save battery life - unlike with battery hungry Bluetooth headsets</p>
  <div class="m-6">
    <img src="https://www.theboom.com/v/images/comparisonChartCTA.jpg" alt="" href="https://www.theboom.com/v/charts/consumer-headsets.asp">
  </div>
</div>

<div class="container mb-5">
  <div class="card-deck">
    <div class="card">
      <img src="https://www.theboom.com/v/images/products/thumbnails/theBoomPro2-thumb.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">theBoom Pro2</h5>
        <button class="btn-success" type="button" name="button">
          <span>Buy Now</span>
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">$275</small>
      </div>
    </div>
    <div class="card">
      <img src="https://www.theboom.com/v/images/products/thumbnails/theBoomE-thumb.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">theBoom E</h5>
        <button class="btn-success" type="button" name="button">
          <span>Buy Now</span>
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">$300</small>
      </div>
    </div>
    <div class="card">
      <img src="https://www.theboom.com/v/images/products/thumbnails/theboom-pro-3/theboom-pro-3-thumb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">theBoom Pro3</h5>
        <button class="btn-success" type="button" name="button">
          <span>Buy Now</span>
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">$275</small>
      </div>
    </div>
  </div>
</div>
